body {
    background-color: #277373;
}

.quote-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.text-container {
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#quote-box {
    min-width: 500px;
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
    padding: 16px;
    border: 6px solid darkolivegreen;
    background-color: #4dc74d;
    margin: 32px;
    border-radius: 25px;
}

#text {
    font-size: 25px;
    font-style: italic;
}

#author {
    font-size: 20px;
}

#text, #author {
    margin: 6px 0;
    color: beige;
}

#new-quote, #tweet-quote {
    border-radius: 18px;
    padding: 4px 8px;
    border: blue;
    color: blue;
    background-color: cyan;
    font-size: 15px;
    cursor: pointer;
}

#new-quote:hover, #tweet-quote:hover {
    background-color: #00e1e1;
}
